/* BEGIN FOOTER.JSX STYLES - FOOTER.SASS

$footer-breaks: (first: 500px)

footer
  +flex(row, center, center)

  padding: 1em 0
  width: 100%

  .wrapper
    +flex(row, center, space-between)

.scroll-to-top
  color: $dbk-red
  font:
    family: $font-main
    size: 0.85em
  text-transform: uppercase

.link-dbk
  color: $black
  font:
    family: $font-special
    size: 1.25em
    weight: 700
  margin: 0

// media queries
@media all and (max-width: map-get($footer-breaks, first))
  footer .wrapper
    flex-direction: column
    padding: 2em 0

  .addthis_sharing_toolbox
    margin: 1em 0

  .scroll-to-top
    order: 3
